body {
    padding: 5px;
    border: 5px;
    margin: 5px;
    background-color: rgba(204, 224, 221, 1);
    position: relative;
}
/* nav controls for top bar.  All nav, navi, .name, and all down to #project:hover*/
nav {
    display: flex;
    margin: 5px;
    height: 150px;
    width: 100%;
    margin-bottom: 50px;
    border-color: black;
    border-style: solid;
    color: whitesmoke;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
}

.navi a {
    float: right;
    display: inline;
    text-align: center;
    padding: 10px 10px;
}
.name {
    text-align: left;
    color: whitesmoke;
}

.navi {
    list-style-type: none;
}

.navi li {
    display: inline;
}

a:link {
    text-decoration: none;
    float: right;
}

#about {
    margin-left: 500px;
    color: whitesmoke;
}

#about:hover {
    color: goldenrod;
}

#contact {
    color: whitesmoke;
}

#contact:hover {
    color: goldenrod;
}

#Project {
    color: whitesmoke;
}

#Project:hover {
    color: goldenrod;
}
 /* Controls for aside down to aside img */
aside {
    display: flex;
    height: 90%;
    width: 300px;
    padding: 5px;
    border: 3px;
    border-color: black;
    border-style: solid;
    float: left;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
    color: whitesmoke;
    flex-wrap: wrap;
}

aside p {
    align-content: center;
}

aside img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/* Controls for priject boxes down to .column:hover */
 .row1 {
    display: inline-flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    margin: 10px;
    border:solid 3px black;
    background-image: url(../2-27-21/Assets/pexels-dids-2411278.jpg);
    background-size: 400px 400px;
    color: whitesmoke;
}

.column1 {
    display: inline-flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    margin: 10px;
    border:solid 3px black;
    background-image: url(../2-27-21/Assets/pexels-dids-2411278.jpg);
    background-size: 400px 400px;
    color: whitesmoke;
}

.row1:hover {
    box-shadow: 10px 10px 5px gray;
    background-size: 450px 450px;
}

.column1:hover{
    box-shadow: 10px 10px 5px gray;
    background-size: 450px 450px;
}

/* footer controls down to .footerli a:hover.  Couldn't figure out how to change the link colors */

footer {
    display: flex;
    float: right;
    height: 150px;
    width: 100%;
    border-color: black;
    border-style: solid;
    color:whitesmoke;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
    bottom: 0;
}

.footerli {
    text-decoration: none;
    display: inline;
    padding: 20px;
}

.footerli:hover {
    color: darkred;
}

.footerli a:link {
    color: whitesmoke;
    padding: 20px;
    display: inline;
}
.footerli a:hover {
    color: darkred;
}
/* media query */
@media screen and (max-width:992px) {
    .navi a {float:right;
            width: 100%;}
    .aside {float: left;
                flex: 50%}
    .aside {float: left;
                flex:50%}
    .aside img {
                flex: 50%;}
    .row1 {float: right;
                flex-direction: column;
                flex: 50%;}
    .column1 {float: right;
                flex: 50%}
}

@media screen and (max-width:600px) {
    .navi a {float:right;
            width: 100%;}
    .aside {float: left;
                flex: 75%}
    .aside {float: left;
                flex:75%}
    .aside img {
                flex: 75%;}
    .row1 {float: right;
                flex-direction: column;
                flex: 75%;}
    .column1 {float: right;
                flex: 75%}
}
