body {
    background-color: rgba(204, 224, 221, 1);
}

nav {
    margin-bottom: 5px;
    color: whitesmoke;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
}

#navi a {
    float: right;
    padding: 10px 10px;
    color: whitesmoke;
}

#navi {
    list-style-type: none;
}

aside {
    margin-bottom: 5px;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
    color: whitesmoke;
}

aside p {
    align-content: center;
}

aside img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

 #row1 {
    width: 300px;
    height: 300px;
    margin: 10px;
    border:solid 3px black;
    color: whitesmoke;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
}

#column1 {
    width: 300px;
    height: 300px;
    margin: 10px;
    border:solid 3px black;
    color: whitesmoke;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
}

#row1:hover {
    box-shadow: 10px 10px 5px gray;
    background-size: 450px 450px;
}

#column1:hover{
    box-shadow: 10px 10px 5px gray;
    background-size: 450px 450px;
}

footer {
    border-top-color: black;
    border-style: solid;
    color:whitesmoke;
    background-image: linear-gradient(rgba(57, 84, 98, 0.5), rgba(57, 84, 98, 1));
}

#footerli {
    text-decoration: none;
}

#footerli a:link {
    text-decoration: none;
}

/* media query */

@media screen and (max-width:992px) {
    #navi a {float:right;
            width: 100%;}
    #aside {float: left;
                flex: 50%}
    #aside {float: left;
                flex:50%}
    #aside img {
                flex: 50%;}
    #row1 {float: right;
                flex-direction: column;
                flex: 50%;}
    #column1 {float: right;
                flex: 50%}
}

@media screen and (max-width:600px) {
    #navi a {float:right;
            width: 100%;}
    #aside {float: left;
                flex: 75%}
    #aside {float: left;
                flex:75%}
    #aside img {
                flex: 75%;}
    #row1 {float: right;
                flex-direction: column;
                flex: 75%;}
    #column1 {float: right;
                flex: 75%}
} 
